@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Helllo My name is Nathaniel and I like to enjoy nature and play rugby!</h1>
=======
    <h1 class="display-4">Helllo Nathaniel!</h1>
>>>>>>> 4a10d69941763ed0b1108b0466d5d331202efc84
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
